
.App {
  text-align: center;
}



.App-header {
  
  height: 150px;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: rgb(0, 0, 0);
  font-weight:normal;
  
  
}
 .h1tag
{
  font-size: 3rem;
  
}

.paragraph-area
{
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 190px;
  text-align: center;
  font-size: large;
}
